p { 
    height: 220px;
    width: 350px;
    padding: 15px 10px 20px;
    margin-bottom: 30px;
    border-color:red;
    border-style:dotted;
    border-width:2px;
    background-color: lightgreen;
}